.userHoverContainer {
  z-index: 105;
  width: 200px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
  box-shadow: rgba(121, 118, 118, 0.04) 0px 8px 16px 0px;
  top: 80px;
  left: 68%;
  background-color: rgb(255, 255, 255);
  border-top: 4px solid #fc8019;
}

.userHoverContainer:hover{
  display: flex !important;
}

.userHoverInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 0.2px solid rgb(231, 231, 231) ;
  cursor: pointer;
}

.userHoverInfo:nth-last-child(){
  border: none;
}

@media (max-width: 800px){
  .userHoverContainer{
    left:60%
  }
}