.cart-main{
  max-width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: start;
  background-color: rgb(233,236,238);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.empty-cart{
  width: fit-content;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-cart > button{
  width: 200px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: #fc8019;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.cart-left{
  width: 60%;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  border-radius: 5px;
  min-height: 425px;
  max-height: 650px;
  background-color: rgb(233,236,238);
}
.cart-left > div {
  min-height: 20px;
  max-height: fit-content;
  background-color: #ffffff;
  padding: 30px 0;
  width: 100%;
}

.cart-account{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart-account-left{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.cart-account-left > span{
  font-size: medium;
  color: #989a9e;
}
.cart-account-left >span:first-child{
  font-weight: bold;
  color: black;
}
.cart-account-auth-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}
.cart-account-auth-buttons > button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  background-color: #fff;
  border: 0.2px solid #60b246;
  color: #60b246;
  padding: 10px 50px;
  font-size: x-small;
}

.cart-account-auth-buttons > button:last-child{
  background-color: #60b246;
  border: 0.2px solid #fff;
  color: #fff
}

.cart-account-auth-buttons > button > span:last-child{
  font-weight: bold;
  font-size: medium;
}

.cart-auth-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 20px
}

.cart-auth-container >span:first-child{
  font-size: small;
  color:#989a9e;
  margin-bottom: 20px;
}
.cart-auth-type > span{
  color:#fc8019
}
.cart-auth-fields, .cart-auth-button{
  width: 70%;
  border: none;
  height: 60px;
}
.cart-auth-fields{
  border: 0.2px solid #e8e8e8
}
.cart-auth-fields:focus{
  outline: none;
}
.cart-auth-button{
  font-size: medium;
  margin-top: 20px;
  height: 50px;
  width: 71%;
  color: white;
  background-color: #60b246;
}
.cart-auth-container > div{
  width: 71%;
}
.cart-right{
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cart-right-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 280px !important;
  position: relative;
  overflow-y: scroll;
}

.cart-right-2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  background-color: #ffffff;
  margin-top: 16px;
}

.cart-right-2 > div{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.2px solid #e1e2e4;
}
.cart-right-2 > div > span{
  width: 90%;
  font-size: small;
}
.cart-right-2 > div > span:first-child{
  font-size: medium;
  font-weight: 500;
  color: black
}
.cart-right-2 > div > span:last-child{
  color: #bfc1c6;
}
.cart-right-2 > div > span > span{
  color:#fc8019
}

.cart-rest-info{
  padding: 10px 10%;
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: medium;
  position: sticky;
  background-color: #ffffff;
  z-index: 5;
  top: 0
}

.cart-rest-info > img{
  width: 20%;
  height: 65%;
  margin-right: 10px ;
  object-fit: cover;
  border-radius: 2px;
}

.cart-rest-name{
  width: 60%;
  height: 60%;
  max-height: fit-content;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  font-weight: bold;
  gap:5px;
}

.cart-item-info{
  width: 80%;
  max-height: 50px;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 5px;
}
.cart-item-info > span:first-child{
  width: 50%;
}

.quantity-button{
  width: 25%;
  height: fit-content;
  border: 0.2px solid #e1e2e4;
  color:#60b246;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button > button{
  background-color: #ffffff;
  border: none;
  color: #656875;
  font-size: medium;
  cursor: pointer;
}

.quantity-button > button:last-child{
  color:#1ba672
}

.cart-suggestion{
  width: 75%;
  min-height: 40px;
  margin-top: 15px;
  max-height: fit-content;
  padding-left: 10px;
  background-color: #ededed;
  font-size: smaller;
  border: none;
}
.cart-suggestion::placeholder{
  font-size: smaller;
}
.cart-suggestion:focus{
  outline: none;
}

.cart-no-contact{
  margin-top: 15px;
  width: 78%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: smaller;
  color:#bfc1c6;
  border: 0.2px solid;
  padding: 5px 0;
}
.no-contact-left{
  font-size: large;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 20%;
}
.no-contact-right{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
}
.no-contact-right >span:first-child{
  font-weight: normal;
  color: black;
}

.cart-bill{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #282c3f;
}

.cart-bill > span{
  margin: 5px 0;
  font-size: smaller;
  font-weight: 400
}

.cart-bill-info{
  width: 100%;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
  color:#656875;
  font-weight: 200;
}
.to-pay{
  width: 80%;
  height: 50px;
  padding: 0 10%;
  font-size: medium;
  font-weight: bold;
  color: #282c3f;
  margin-top: 5px;
  position: sticky;
  bottom: 10px;
  background-color: #ffffff;
  z-index: 5;
  bottom: 0;
  margin: 0;
}