.loading{
  width: 60%;
  height: 300px;
  background-color: #282c3f;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-border-bottom{
  border-bottom: none;
}

.small-dash{
  background-color: #282c3f;
  width: 20px;
  height: 1px;
}

.divider{
  width: 80%;
  height: 15px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: none;
  margin: 10px auto;
}

.small-divider{
  width: 80%;
  height: 1px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: none;
  margin: 10px auto;
}
.small-dashed-divider{
  width: 80%;
  height: 1px;
  border: none;
  border-top: 1px dashed rgb(236, 236, 236);
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: none;
  margin: 10px auto;
}

.center{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #1b2b34; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.carousel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;  /* Firefox */
  height: fit-content;
}

.carousel:-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carousel-button-left, .carousel-button-right{
  position: absolute;
  top: 35%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(52, 52, 52);
  background-color: rgba(238, 238, 238, 0.7);
  border: none;
}
.carousel-button-left:hover, .carousel-button-right:hover{
  background-color: rgba(238, 238, 238, 1);
}
.carousel-button-left{
  left: 0;
}
.carousel-button-right{
  right: 0;
}
.carousel-container{
  position: relative;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;  /* Firefox */
  height: fit-content;
}
.carousel-container:-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}