.Navbar{
  background-color: rgb(249, 249, 249);
  height: 80px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}
.Navbar-Left{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 30px;
}
.Navbar-Left > img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.Navbar-Right{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Navbar-Right > span {
  cursor: pointer;
}

.nav-elem{
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  cursor: pointer;
}

.nav-cart-quant{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  background-color: #1ba672;
}

.cart-hover-div{
  z-index: 105;
  width: 350px;
  min-height: 175px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: rgba(121, 118, 118, 0.04) 0px 8px 16px 0px;
  top: 80px;
  left: 65%;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}
.cart-hover-div > span{
  width: 70%;
  color:rgb(184, 188, 192)
}
.cart-hover-div > span:first-child{
  color: rgb(153, 156, 158);
  font-size: x-large;
  font-weight: bold;
}
.cart-hover-div > span:nth-child(2){
  display: flex;
  flex-direction: column;
}
.cart-hover-div:hover{
  display: flex !important;
}
.cart-hover-div > div {
  padding: 0;
}
.cart-hover-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 15px;
}

.cart-hover-div > button {
  width: 80%;
  height: 40px;
  color: white;
  background-color: #fc8019;
  margin: 20px 0;
  border: none;
}

.cart-rest-name > a{
  font-size: medium;
  font-weight: normal;
  text-decoration: underline;
  color: blue;
  margin-top: -5px
}