.user-main{
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: #37718e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.user-info-container{
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.user-info-name{
  font-weight: bold;
  font-size: xx-large;
}
.user-info-other{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.edit-info{
  background-color: #37718e;
  color: white;
  border: 0.2px solid white;
  padding: 10px 20px;
  font-size: 1rem;
}
.edit-info:hover{
  background-color: white;
  color: #37718e;
}

.chagefields{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chagefields > span:last-child{
  color: #fc8019;
  cursor: pointer;
}

.address-container{
  float: left;
  left: 0;
}
.saved-address-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 0.2px solid rgb(231, 231, 231);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 110px;
  max-height: fit-content;
}
.saved-address-container > span{
  color: rgb(180, 180, 180);
  margin: 5px 0;
}
.saved-addresses{
  width: 100%;
  min-height: 100px;
  display: flex;
  border-bottom: 0.2px dashed rgb(216, 216, 216);
}
.saved-addresses:last-child{
  border: none;
}
.saved-address-left{
  width: 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saved-address-right{
  width: 85%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  cursor: pointer;
}

.saved-address-right > span:last-child{
  color: rgb(180, 180, 180);
  font-size: normal;
  font-weight: normal;
}

.user-display-container{
  min-height: 70vh;
  max-height: fit-content;
  width: 70%;
  background-color: #fff;
  padding: 10%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.user-button-container{
  width: 30%;
}

.user-page-address-container{
  width: 60%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-page-address-container > span{
  grid-column: span 2;
}