.user-main{
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: #37718e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.user-info-container{
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.user-info-name{
  font-weight: bold;
  font-size: xx-large;
}
.user-info-other{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.edit-info{
  background-color: #37718e;
  color: white;
  border: 0.2px solid white;
  padding: 10px 20px;
  font-size: 1rem;
}
.edit-info:hover{
  background-color: white;
  color: #37718e;
}

.chagefields{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chagefields > span:last-child{
  color: #fc8019;
  cursor: pointer;
}

.address-container{
  float: left;
  left: 0;
}

.saved-address{
  width: 80%;
  border: 0.2px solid rgb(231, 231, 231);
  height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.saved-address > span:last-child{
  color: rgb(216, 216, 216);
  font-size: small;
}