.userPageAddressContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userPageAddressContainer > span {
  color: black;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 12px;
  display: block;
}

.addressRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Wrap addresses into new rows if needed */
  justify-content: space-between;
}

.savedAddresses {
  width: calc(50% - 15px); /* Two items per row, with some margin */
  min-height: 100px;
  display: flex;
  border: 0.2px solid rgb(9, 9, 9);
  cursor: pointer;
  margin: 20px 0;
}

.savedAddressLeft {
  width: 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.savedAddressRight {
  width: 85%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  color: black;
}

.savedAddressRight > span:nth-child(2) {
  color: rgb(90, 90, 90);
  font-size: small;
  font-weight: normal;
}

.editAddress{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  color: #fc8019;
  font-weight: normal;
}

.editAddress > span:hover{
  color: black;
}

.deleteBox{
  position: fixed;
  top: 65%;
  left: 40%;
  width: 27.5rem;
  height: 9rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 111;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deleteBox > span{
  color: black;
  width: 90%;
  height: 40%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBox > div{
  display: flex;
  width: 90%;
  height: 60%;
  align-items: center;
  justify-content: space-between;
}

.deleteBox > div > button {
  width: 45%;
  height: 50%;
  background-color: white;
  color: black;
  border: 0.2px solid black;
}

.deleteBox > div > button:last-child {
  background-color: black;
  color: white;

}

/* For screens less than or equal to 750px */
@media (max-width: 750px) {
  .addressRow {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .savedAddresses {
    width: 90%; /* Full width with some margin on sides */
  }
}