.userButtonContainer {
  width: 80%;
  height:80vh;
  background-color: #37718e;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid #37718e;
}

.userButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  color: white;
  font-size: 1.25rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.userButtons:first-of-type{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.userButtons:hover{
  font-size: 1.4rem;
}

.active{
  background-color: white;
}
.active > span{
  color: #37718e;
}