.userButtonContainer {
  width: 80%;
  height:80vh;
  background-color: #37718e;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid #37718e;
}

.userButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  color: white;
  font-size: 1.25rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.userButtons:first-of-type{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.userButtons:hover{
  font-size: 1.4rem;
}

.active{
  background-color: white;
}
.active > span{
  color: #37718e;
}

@media (max-width: 600px) {
  .userButtonContainer{
    width: 100%;
    height: 60px;
    flex-direction: row;
  }
  .userButtons{
    height: 100%;
    border: none;
    border-right:  2px solid white;
    border-radius: 0;
  }
  .userButtons:first-of-type{
    border-radius: 0;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
  }
  .userButtons:last-of-type{
    border: none;
    border-radius: 0;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
  }
}