.hiddenMenuBox {
  background-color: black;
  width: 50%;;
  height: fit-content;
  color: white;
  margin: 0 auto;
  border-radius: 25px;
  max-height: 280px;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  padding: 10px 30px;
  position: sticky;
  bottom: 10%;
  gap: 15px;
}

.hiddenMenuBox::-webkit-scrollbar {
  display: none;
}

.hiddenMenuSingleItem {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hiddenMenuSingleItem > span > a {
  text-decoration: none;
  color: white;
}
