body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(252, 252, 252);
  color: #282c3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* loading box */

.loading{
  width: 60%;
  height: 300px;
  background-color: #282c3f;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar styling */

.Navbar{
  background-color: white;
  height: 80px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Navbar-Left{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 30px;
}
.Navbar-Left > img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.Navbar-Right{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Navbar-Right > span {
  cursor: pointer;
}

/* main div stylinng */

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home and cuisine page Styling */

.recomendation{
  width: 75%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.recom-heading{
  height: 20%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
}

.recom-heading button{
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
  background-color: #e8e8e8;
  color: black;
  cursor: pointer;
  margin: 0 5px;
}


.recom-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.recom-img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
  height: 190px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
}
.recon-img-hidden{
  display: none;
}

.recom-img img{
  height: 180px;
  width: 144px;
}

.restaurants{
  width: 75%;
  min-height: 300px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
}
.restaurant-heading{
  font-size: x-large;
  font-weight: bold;
}
.restaurant-container{
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.restaurant-info{
  max-width: 200px;
  height: 260px;
  flex: 0 0 25%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.restaurant-info img{
  width: 100%;
  height: 140px;
  border-radius: 20px;
  margin-bottom: 15px;
  object-fit: cover;
}
.restaurant-info span{
  margin-left: 10px;
}

/* Menu Page Styling */

.Menu-page-info{
  width: 75%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.Menu-res-name{
  font-size: x-small;
  color: rgb(185, 185, 185)
}

.menu-box{
  width: 80%;
  height: 240px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 20px;
  margin: 0 auto;
  border: none;
  background: rgb(255,255,255);
background: linear-gradient(rgba(255,255,255,0.062237394957983194) 0%, rgba(230,230,230,1) 80%, rgba(219,219,219,1) 95%);
}
.menu-box>span{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
}

.menu-smallbox{
  width: 90%;
  height: 180px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 20px;
  margin: 10px auto;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;;
}
.menu-smallbox > div > span:last-child{
  margin-left: 10px;
}

.menucard{
  width: 75%;
}
.menucard > div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.divider{
  width: 80%;
  height: 15px;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  border: none;
  margin: 10px auto;
}

.menu-single{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 75%;
  margin: 10px auto;
}
.menu-single > span{
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}
.menu-single-item{
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 0.2px solid rgb(193, 193, 193);
}

.menu-single-item > button{
  background-color: white;
  border-radius: 5px;
  color: #1ba672;
  border: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  box-shadow:  0 4px 8px 0 rgba(243, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 243, 243, 0.19);
}

.item-name-price{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

/* Search page styling */

.search-box{
  margin-top: 50px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.search-box > input{
  width: 90%;
  height: 50px;
  border: 0.5px solid rgba(40, 44, 63, 0.5) ;
  padding: 0 10px;
  border-radius: 5px;
}

.search-restaurants{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.search-rest-col{
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.search-rest-col > img{
  height: 60%;
  width: 8%;
  margin-right: 20px;
  border-radius: 5px;
}

.search-rest-info{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.search-rest-info span:nth-child(1) {
  margin: 1px 0;
  font-size: small;
  font-weight: bold;
  color: #282c3f;
}

.search-rest-info span:nth-child(2) {
  margin: 1px 0;
  font-size: smaller;
  color: #656875;
  font-weight: normal;
}

.search-recomendation{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
