.carousel {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;  /* Firefox */
  height: fit-content;
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carouselButton {
  position: absolute;
  top: 35%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(52, 52, 52);
  background-color: rgba(238, 238, 238, 0.7);
  border: none;
}

.carouselButton:hover {
  background-color: rgba(238, 238, 238, 1);
}

.carouselButtonLeft {
  left: 0;
}

.carouselButtonRight {
  right: 0;
}

.carouselContainer {
  position: relative;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;  /* Firefox */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
